@charset "utf-8";
body {
	background-color: #CCCCCC;

}
table {
	font-family: "Segoe UI", Frutiger,Tahoma,Helvetica,"Helvetica Neue", Arial, sans-serif;
	font-size: 1.0em;
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd;
	border-collapse: collapse;
}
caption {font-size: 1.2em; color: #383E4B; }
th{
	font-size: 1.0em;
	text-align: center;
	background-color: #E5E5E5;
}
td{
	padding: 0.5em;
	vertical-align: top;
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd;
	border-collapse: collapse;
}            

input, textarea, select{
	font:1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.0em;
}
