@charset "utf-8";
body {
	background-color: #CCCCCC;
}
#wrapper {
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
	background-repeat: repeat-y;
	background-color: #FFFFFF;
}
#wrapper #header {
	height: 125px;
	width: 1100px;
	background-color: #0066CC;
}
#wrapper #menu {
	float: left;
	width: 180px;
	padding-right: 5px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
#menu li {
	width: 180px;
	border-bottom: 1px solid #969BA5;
	margin: 0;
	padding: 0;
	font-size: 80%;
	vertical-align: bottom;
	font-size:14px;
}
#menu li a {
	display: block;
	padding: 5px 5px 5px 0.5em;
	background-color: #006699;
	color: #FFFFFF;
	text-decoration: none;
	border-right-width: 1px;
	border-left-width: 12px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
#menu li a:hover{
color:#000000;
}
#wrapper #rigtcontent {
	float: left;
	width: 858px;
	padding-right: 10px;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#wrapper #clearer {
	clear: both;
}
#wrapper #footer {
	height: 50px;
	width: 1100px;
	background-color: #0066CC;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
}
a:link,a:visited {
  color: #0092c8;
}
a:hover {
	color: #FF6600;
	text-decoration:none;
}
h2 {   
	font-size: 1.3em;
	line-height: 200%;
	border-bottom: 1px dotted #003366;
	margin: 0px 0px 0px 25px;
}

table {
	font-family: "Segoe UI", Frutiger,Tahoma,Helvetica,"Helvetica Neue", Arial, sans-serif;
	font-size: 1.0em;
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd;
	border-collapse: collapse;
	margin: 20px 0px 0px 25px;
}
caption {margin: 0 0 .5em; font-size: 1.2em; color: #383E4B; }
th{
	font-size: 1.0em;
	text-align: center;
	padding: 0.5em;
	background-color: #E5E5E5;
}
td{
	padding: 0.5em;
	vertical-align: top;
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd;
	border-collapse: collapse;
}            

input, textarea, select{
	font:1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.0em;
}
input[type="text"]{
  width: 400px;
}
